$progress-border-radius: 0;

.red-dark
{
background-color:#dc3545;
}

.red-light
{
background-color:#20c997;
}


@import '/home/revai/Documents/React JS/React_Comp/node_modules/bootstrap/scss/bootstrap.scss';
